<div id="chat_window">
  <ol id='events'>
    <% @messages.each do |message| %>
      <li style="border-left-color: #<%= message['session_id'][0..2] %>">
        <%= message['body'] %>
      </li>
    <% end %>
  </ol>

  <form action="/<%= params[:channel] %>" method="post">
    <textarea id='message' data-user="<%= session[:session_id] %>" placeholder='type message here...'></textarea>
    <button>Send</button>
  </form>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src='/javascripts/application.js'></script>