<div id="chat_window">
  <ol id='events'>
    <% @current_channel.messages.each do |message| %>
      <li><%= message.content %></li>
    <% end %>
  </ol>
  <form>
    <input id='message' placeholder='type message here...' />
  </form>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src='/javascripts/application.js'></script>