<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Chattyloo</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width"></head>
  <meta name="user_id" content="<%= session[:session_id] %>">

  <link rel="stylesheet" href="/stylesheets/reset.css">
  <link rel="stylesheet" href="/stylesheets/application.css">

  <% unless params[:channel] %>
    <link rel="stylesheet" href="/stylesheets/homepage.css">
  <% end %>
<body>
  <%= yield %>
</body>
</html>