<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Chattyloo</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width"></head>
  <meta name="user_id" content="<%= session[:session_id] %>">

  <link rel="stylesheet" href="/stylesheets/reset.css">
  <link rel="stylesheet" href="/stylesheets/application.css">
<body>
  <header>
    <div class="callout">
      <strong>Hey friend!</strong> You just joined a Chattyloo chat, share the url <a href="http://chattyloo.com/<%= params[:channel] %>">chattyloo.com/<%= params[:channel] %></a> with your friends to chat with them! <a href="http://jpsilvashy.com/posts/chattyloo">Read more about Chattyloo &rarr;</a>
    </div>
  </header>

  <%= yield %>
</body>
</html>