<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Chattyloo</title>

  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <meta name="session_id" content="<%= session[:session_id] %>">

  <link rel="stylesheet" href="/stylesheets/reset.css">
  <link rel="stylesheet" href="/stylesheets/application.css">

  <% unless params[:channel] %>
    <link rel="stylesheet" href="/stylesheets/homepage.css">
    <link rel="stylesheet" href="/stylesheets/prettify.css">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src='/javascripts/vendor/prettify.js'></script>

    <script type="text/javascript">
    $(function() {

      // Make code pretty
      prettyPrint();
    });
    </script>
  <% end %>
</head>
<body>
  <%= yield %>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-33729498-3', 'chattyloo.com');
    ga('send', 'pageview');
  </script>
</body>
</html>